
*.log

.DS_Store
Thumbs.db
.idea/
.vscode/
.cursor/
.zed/
.nova/

.env
.env.*
!.env.example
auth.json
/storage/*.key

node_modules/
vendor/

.phpunit.result.cache
.phpunit.cache/
public/build/
public/hot/
storage/pail/

dist/
.vite/

public/storage

_ide_helper.php
_ide_helper_models.php
.phpactor.json